[submodule "ion-hash-dotnet/ion-hash-test"]
	path = ion-hash-dotnet/ion-hash-test
	url = https://github.com/amzn/ion-hash-test
[submodule "ion-hash-test"]
	path = ion-hash-test
	url = https://github.com/amzn/ion-hash-test
